.logo-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  position: fixed;
  height: 57px;
  width: 100%;
  top: 0px;
  background: #2e332e;
}
.logo-links {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;

  width: 58%;
  color: #ffffff;
}
.logo-links a {
  display: flex;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}
.logo-links a:hover {
  transition: 1s;
  width: 60px;
  height: 2px;
  top: 40px;
  align-items: flex-end;

  border-radius: 16px;
}

.logo-svg {
  display: flex;
  height: 50px;
  width: 10%;
  align-items: center;
  justify-content: center;

  padding-left: 5px;
}
.logo-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  height: 50px;
  width: 30%;


}

@media screen and (min-width: 400px) and (min-width: 372px) {
  .logo-links {
    display: none;
  }
  .menuItens {
    display: flex;
  }
}

@media screen and (min-width: 800px) {
  .logo-links {
    display: flex;
  }
  .menuItens {
    transition: 2s ease-in-out;
    display: none;
  }
  .logo-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 250px;
    padding-left: 100px;
  }
}

@media screen and (min-width: 400px) and (min-width: 372px) {
  .logo-icons {
    display: flex;
    width: 90%;
  }
}
