.contariner {
  display: flex;

  justify-content: center;
  text-align: center;
  border: 5px solid red;

  width: 100%;
  margin-top: 3.5rem;
  height: 100vh;
  overflow-y: auto;

  background: rgb(0, 0, 0);
  background: linear-gradient(
    34deg,
    rgba(0, 0, 0, 1) 8%,
    rgba(0, 0, 0, 1) 10%,
    rgba(5, 33, 9, 1) 80%,
    rgba(10, 142, 44, 0.770773638968481) 140%
  );
  color: white;
}
